<div class="home">
  <h1> Welcome to SpendTracker!</h1>
  <h2>Well hello there. Lets track some spending and save some money.</h2>

  <div class="row" class="images" style="align-items: center">
    <a class="col-sm-2 col-sm-offset-3" href="/transactions/new">
    <img src="/images/transmed.png" alt="New Transaction" width="100" height="100" border="0">
    </a>
    <a class="col-sm-2" href="/transactions/index">
    <img src="/images/all_trans.png" alt="All Transactions" width="100" height="100" border="0">
    </a>
    <a class="col-sm-2" href="/budget/index">
    <img src="/images/budget.png" alt="Budget" width="100" height="100" border="0">
    </a>
  </div>

  <div class="row" class=labels>
    <label class="col-sm-2 col-sm-offset-3">New Transaction</label>
    <label class="col-sm-2">All Transactions</label>
    <label class="col-sm-2">Budget</label>
  </div>

  <div class="row" class="images" style="align-items: center">

    <a class="col-sm-1 col-sm-offset-1" href="/tags/1">
    <img src="/images/food.png" alt="Food" width="70" height="70" border="0">
    </a>
    <a class="col-sm-1" href="/tags/2">
    <img src="/images/utilities.png" alt="Utilities" width="70" height="70" border="0">
    </a>
    <a class="col-sm-1" href="/tags/3">
    <img src="/images/housing.png" alt="Housing" width="70" height="70" border="0">
    </a>
    <a class="col-sm-1" href="/tags/4">
    <img src="/images/transport.png" alt="Transport" width="70" height="70" border="0">
    </a>
    <a class="col-sm-1" href="/tags/5">
    <img src="/images/clothing.png" alt="Clothing" width="70" height="70" border="0">
    </a>
    <a class="col-sm-1" href="/tags/6">
    <img src="/images/health.png" alt="Health and Beauty" width="70" height="70" border="0">
    </a>
    <a class="col-sm-1" href="/tags/7">
    <img src="/images/education.png" alt="Education" width="70" height="70" border="0">
    </a>
    <a class="col-sm-1" href="/tags/8">
    <img src="/images/entertainment.png" alt="Entertainment" width="70" height="70" border="0">
    </a>
    <a class="col-sm-1" href="/tags/9">
    <img src="/images/treats.png" alt="Treats and Luxuries" width="70" height="70" border="0">
    </a>
    <a class="col-sm-1" href="/tags/10">
    <img src="/images/misc.png" alt="Miscellaneous" width="70" height="70" border="0">
    </a>

  </div>

  <div class="row" class=labels>
    <label class="col-sm-1 col-sm-offset-1">Food</label>
    <label class="col-sm-1">Utilities</label>
    <label class="col-sm-1">Housing</label>
    <label class="col-sm-1">Transport</label>
    <label class="col-sm-1">Clothing</label>
    <label class="col-sm-1">Health and Beauty</label>
    <label class="col-sm-1">Education</label>
    <label class="col-sm-1">Entertainment</label>
    <label class="col-sm-1">Treats and Luxuries</label>
    <label class="col-sm-1">Miscellaneous</label>
  </div>

</div>
