<!DOCTYPE html>
<html>
<head>
  <title>CashBoard</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
  <link rel="icon" href="/images/gold.png" />
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>


<body>

  <header class="container-fluid">
    <div class="row">
      <h1 class="col-sm-4">CashBoard</h1>
      <nav class="col-sm-15 text-center">
        <p><a href="/">Home</a></p>
        <p><a href="/transactions/index">All Transactions</a></p>
        <p><a href="/transactions/new">New Transaction</a></p>
        <p><a href="/tags/index">Categories</a></p>
      </nav>
    </div>
  </header>

  <section class="jumbotron">
    <div class="container-fluid">
      <%= yield %>
    </div>
  </section>


</body>


</html>
