<div class="budget">

  <h1>Monthly Budget</h1>
  <h2>Total: <%= "£#{Tag.total_budget}" %></h2>

  <table>
    <tr>
      <th>Name</th>
      <th>Amount Budgeted</th>
      <th></th>
    </tr>
    <% for tag in @tags %>
    <tr>
      <td style="text-align: left"><%= tag.name %></td>
      <td><%= "£#{'%.2f' % (tag.budget.to_i/100.0)}"%></td>
      <td><a href="/budget/<%= tag.id %>/edit"><img src="/images/edit.png" alt="Edit" width="18" height="18" border="0"></a></td>
    </tr>
    <% end %>
  </table>

</div>
