<h1>Categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Total Amount</th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td><%= tag.name %></a></td>
    <td>|</td>
    <td><%= tag.total_amount %></td>
  </tr>
  <% end %>
</table>
