<div class="all_cats">

  <h1>Categories</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Total Amount</th>
    </tr>
    <% for tag in @tags %>
    <tr>
      <td><%= tag.name %></a></td>
      <td><%= tag.total_amount %></td>
    </tr>
    <% end %>
  </table>

</div>
