<div class="all_cats">

  <h1>Categories</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Total Amount</th>
    </tr>
    <% for tag in @tags %>
    <tr>
      <td><%= tag.name %></a></td>
      <td><%= "£#{'%.2f' % (tag.total_amount.to_i/100.0)}"%></td>
    </tr>
    <% end %>
  </table>

</div>
