.home h1, .all_trans h1, .new_trans h1, .all_cats h1, .all_trans_cat h1, .all_trans_date h1 {
  font-size: 30px;
  color: rgb(79, 121, 156);
  text-align: center;
  margin-bottom: 20px;
}

.home h2, .all_trans h2, .new_trans h2, .all_cats h2, .all_trans_cat h2, .all_trans_date h2 {
  font-size: 20px;
  text-align: center;
}

h3 {
  color: red;
  font-size: 14px;
  margin-top: 0;
}


.home img {
  margin-top: 75px;
  margin-left: 0;
}

.home label {
  font-size: 14px;
  font-weight: 100;
  margin-top: 10px;
  color: rgb(79, 121, 156);
}

.all_trans table, .all_trans_cat table, .all_trans_date table {
  border: 1px solid rgb(79, 121, 156);
  border-radius: 10px;
  background-color: white;
  width: 1000px;
  margin-top: 15px;
  margin-left: 140px;
}

.all_trans table.dates, .all_trans_cat table.dates, .all_trans_date table.dates {

  border: 0;
  width: 800px;
  margin: 40px auto 0;
}


.all_cats table {
  border: 1px solid rgb(79, 121, 156);
  border-radius: 10px;
  background-color: white;
  width: 400px;
  margin-top: 50px;
  margin-left: 440px;
}

th {
  text-align: center;
  background-color: rgb(201, 227, 242);
  border-top: 1px solid rgb(79, 121, 156);
  border-bottom: 1px solid rgb(79, 121, 156);
}

tr:nth-child(odd) {
  background: rgb(222, 235, 242);
}

.new_trans div {
  margin-left: 140px;
  margin-top: 60px;
}

.new_trans label {
  font-size: 18px;
}

.new_trans .row {
  margin-top: 20px;
  margin-bottom: 20px;
}

#first {
  margin-top: 100px;
}

.currencyinput {
    float: left;
    margin-left: 2px;
}

.bin {
  height: 20px;
  width: 20px;
  padding-top: 3px;
  padding-bottom: 0;
}
