body {
  background: url('/images/dollarclear.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

header .row {
  border: 2px ridge white;
  border-right: 0;
  border-left: 0;
  margin: 10px -20px 20px -20px;
  padding: 0 10px;
  background-color: rgba(176, 217, 220, 0.5);
  align-items: center;
  font-family: 'Roboto Slab', serif;
}

.img1 {
  height: 50px;
  width: 50px;
  margin: 16px 0px 0px 45px;
}

header h1 {
  font-size: 36px;
  margin: 19px 50px 19px 5px;
  color: rgb(79, 121, 156);
}

header nav {
  display: inline-flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-top: 22px;

}

header p {
  font-size: 20px;
  padding: 0 22px;
  margin: 0;
}


a, a:link, a:visited {
  color: rgb(79, 121, 156);
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: rgb(117, 180, 172);
}

.jumbotron {
  display: flex;
  border: 1px solid rgb(117, 180, 172);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  background-size: cover;
  color: black;
  height: 600px;
  margin: 40px 40px 20px 40px;
  padding: 0;
  overflow-x: scroll;
}

.jumbotron .container-fluid {
  margin: 5px
  width: 100%;
  text-align: center;
}
