<div class="new_trans">

  <h1>Enter new transaction</h1>

  <form action="/transactions/index" method="post">

    <div class="row" id="first" style="align-items: center">
      <label class="col-sm-1 col-sm-offset-3 text-left" for="vendor">Vendor:  </label>
      <input class="col-sm-3" style="margin-left: 10px" type="text" name="vendor" id="vendor">
    </div>

    <div class="row" style="align-items: center">
      <label class="col-sm-1 col-sm-offset-3 text-left" for="amount">Amount:  </label>
      <span class="currencyinput" class="col-sm-1">£<input type="text" name="amount" id="amount"></span>
    </div>

    <div class="row" style="align-items: center">
      <label class="col-sm-2 col-sm-offset-3 text-left" for="tag_id">Select a category:</label>
      <select class="col-sm-2 text-left" name="tag_id">
        <% for tag in @tags %>
        <option value="<%= tag.id %>"><%=tag.name%></option>
        <% end %>
      </select>
    </div>

    <div class="row" style="align-items: center">
      <label class="col-sm-1 col-sm-offset-3 text-left" for="details">Details:</label>
      <input class="col-sm-3 text-left" style="margin-left: 10px" type="text" name="details" id="details">
    </div>

    <input type="submit" value="Save Transaction"/>


  </form>
</div>
